django~=4.2
python-decouple
django-widget-tweaks
django-debug-toolbar~=4.0.0
pillow
flake8
ipdb
celery~=5.2.7
celery[redis]
django-celery-results
django-sendgrid-v5
requests~=2.28.2
django-celery-beat