{% load widget_tweaks %}
{% csrf_token %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
<div class="form-floating mb-2">
    {% render_field field|add_error_class:'is-invalid' class="form-control" placeholder=field.label %}
    {{ field.label_tag }}
    {% if field.errors %}
    <div class="mb-2">
        <ul>
            {% for error in field.errors %}
            <li class="text-danger small">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endfor %}

