{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Login</h1>
            <p class="col-lg-10 fs-4">Furniture factory Konstanta has already managed to win the Ukrainian market. At the moment sales in the European Union are growing rapidly. There is no need to conduct additional promotions, but we continue to please our customers. If you have not yet registered on this site, and did not buy there, you have a great opportunity to get a special bonus in the form of a discount.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-floating mb-3">
                    {{field}}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% endfor %}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}