{% extends 'layouts/base.html' %}
{% load static %}
{% load currency_extras %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for product in products %}
  <div class="col">
    <div class="card h-64">
      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }} {{ product.model }} ({{ product.sku }})">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.name }} {{ product.model }} ({{ product.sku }})</p>
        <hr>
        <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
        <a class="btn btn-outline-success" href="{{ product.get_absolute_url }}">View</a>
        <h4 style="display: inline-block; float: right"><strong>{{product.price|currency:"UAH"}}</strong></h4>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock content %}
